html, body {
  margin: 0;
  padding: 0;
}

:root {
    --grid-cols: 1;
    --grid-rows: 1;
  }
  
  #grid {
    display: grid;;
    grid-gap: 0;
    grid-template-rows: repeat(var(--grid-rows), 4vh);
    grid-template-columns: repeat(var(--grid-cols), 4vh);
    justify-content: center;
    padding-top: 40px;
  }
  
  .grid-item {
    padding: 1em;
    border: 1px solid black;
    text-align: center;
  }

  .title {
    display: flex;
    justify-content: center;
    margin-bottom: 2px;
    padding-top: 15px;
  }

  #colorPicker {
    border-radius: 50%;
  }

  
